---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Note from "../../components/Note.astro";

export async function getStaticPaths() {
  const notes = await getCollection("notes");
  return notes.map((note) => ({
    params: { slug: note.slug },
    props: { note },
  }));
}

const { note } = Astro.props;

const { Content } = await note.render();

const { title, date } = note.data;
---

<BaseLayout>
  <Note note={note} />
  <p class="snow center">· ※ · ※ · ※ ·</p>
</BaseLayout>
