<div id="header">
    <span id="drop-button">☰</span>
    <ul id="menu">
        <li id="home"><a href="/" title="home">λ</a></li>
        <li id="about"><a href="/about">about</a></li>
        <li id="code"><a href="/code">code</a></li>
        <li id="notes"><a href="/notes">notes</a></li>
        <li id="favorites"><a href="/favorites">favorites</a></li>
    </ul>

    <div class="zigzag-container">
        <object id="zigzag" type="image/svg+xml" data="/assets/svg/zigzag.svg"></object>
    </div>

    <div class="menu-icons">
        <a href="https://github.com/lbeckman314" title="My Github"><i class="fa-brands fa-github"></i></a>
        <a href="https://instagram.com/lbeckman314" title="My Instagram"><i class="fa-brands fa-instagram"></i></a>
        <span id="theme" title="Toggle theme">☼</span>
    </div>
</div>