---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "home";
const description = "Hello!";
---

<BaseLayout title={pageTitle} description={description}>
  <div class="home">
    <div class="about">
      <a href="/about"></a>
      <h1>about</h1>
      <p>introductions</p>
    </div>

    <div class="code">
      <a href="/code"></a>
      <h1>code</h1>
      <p>bits and symbols</p>
    </div>

    <div class="notes">
      <a href="/notes"></a>
      <h1>notes</h1>
      <p>this and that</p>
    </div>

    <div class="favorites">
      <a href="/favorites"></a>
      <h1>favorites</h1>
      <p>the bee's knees</p>
    </div>
  </div>
</BaseLayout>
