---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const notes = await getCollection('notes');
const sortedNotes = notes.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

function formatDate(date: Date) {
  return date.toLocaleDateString('en-US', {
    weekday: 'long',
    year: 'numeric',
    month: 'long', 
    day: 'numeric'
  });
}
---

<BaseLayout title="notes">
  {sortedNotes.map(async (note) => {
    const { Content } = await note.render();
    
    return (
      <div class="notes">
        <div class="bot">
          <h2 class="notes-title">
            <a href={`/notes/${note.slug}`}>{note.data.title}</a>
          </h2>
          <p class="notes-info">
            {formatDate(note.data.date)}
            {note.data.tags && (
              <>
                <span class="sub">※</span>
                {note.data.tags}
              </>
            )}
          </p>
        </div>
        <div class="bot">
          <Content />
        </div>
      </div>
    );
  })}
</BaseLayout>