---
import { Image } from 'astro:assets';
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="now" description="Now now">
  <a href="/">
    <Image src="/assets/images/now.gif" alt="now" class="now"  width="50" height="50" />
  </a>
</BaseLayout>
